*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

button{
    position: relative;
    height: 60px;
    width: 200px;
    margin: 0 35px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: black;
    color: white;
    font-size: 20px;
    cursor: pointer;
} 

button:first-child:hover{
    background: linear-gradient(60deg,
    red,blue,deeppink);
    background-size: 400%;
}

button:first-child:before{
    content: "";
    position: absolute;
    background: inherit;
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
    border-radius: 50px;
    filter: blur(20px); 
    opacity: 0 ;
    transition: opacity 0.5s;
}

button:first-child:hover:before{
    opacity: 1;
    z-index: -1;
}

button:hover{
    z-index: 1;
    animation: glow 8s linear infinite;
}

@keyframes glow{
    0%{
        background-position: 0%;
    }

    100%{
        background-position: 400%;
    }
}